In [5]:
import pandas as pd

In [13]:
def read_tntp_network(file_path):
    with open(file_path, 'r') as f:
        lines = f.readlines()

    # Find where the header line starts (after metadata)
    header_idx = 7
    for i, line in enumerate(lines):
        if line.strip().startswith('From'):
            header_idx = i
            break

    # Read the file into a DataFrame
    df = pd.read_csv(
        file_path,
        sep=r'\s+',                   # whitespace separator
        skiprows=header_idx,          # skip metadata lines
        comment='~',                  # ignore comment lines
        names = ['From', 'To', 'Capacity', 'Length', 'FreeFlowTime', 'B', 'Power', 'SpeedLimit', 'CriticalSpeed', 'Lanes', 'SemiColon'],
        engine='python'
    )


    return df

# Example usage:
df_network = read_tntp_network("../datasets/Goldcoast_network_2016_01.tntp")
df_network= df_network.drop("SemiColon",axis=1)
df_network

,From,To,Capacity,Length,FreeFlowTime,B,Power,SpeedLimit,CriticalSpeed,Lanes
0,1,1371,900.0,0.30,0.327,0.282,4.0,55,42.9,2
1,2,2012,1600.0,0.26,0.173,0.282,4.0,90,70.2,2
2,3,2402,1100.0,0.20,0.200,0.282,4.0,60,46.8,2
3,4,1875,800.0,0.16,0.128,0.282,4.0,75,58.5,1
4,5,1880,800.0,0.20,0.171,0.282,4.0,70,54.6,1
...,...,...,...,...,...,...,...,...,...,...
11135,4806,1495,600.0,0.09,0.120,0.667,4.0,45,27.0,1
11136,4806,3606,600.0,0.09,0.120,0.667,4.0,45,27.0,1
11137,4806,415,1800.0,0.23,0.575,0.000,4.0,24,24.0,5
11138,4807,1433,400.0,0.05,0.060,0.667,4.0,50,30.0,2
11139,4807,1434,400.0,0.39,0.468,0.667,4.0,50,30.0,1

In [18]:
df_network.to_csv("GoldCoast_network.csv", index=False)